[submodule "github-issues.vim"]
	path = github-issues.vim
	url = bundle/github-issues.vim/
[submodule "pydoc.vim"]
	path = pydoc.vim
	url = bundle/pydoc.vim/
[submodule "ropevim"]
	path = ropevim
	url = bundle/ropevim/
[submodule "syntastic"]
	path = syntastic
	url = bundle/syntastic/
[submodule "ultisnips"]
	path = ultisnips
	url = bundle/ultisnips/
[submodule "vim-airline"]
	path = vim-airline
	url = bundle/vim-airline
[submodule "vim-colors-solarized"]
	path = vim-colors-solarized
	url = bundle/vim-colors-solarized
[submodule "vim-commentary"]
	path = vim-commentary
	url = bundle/vim-commentary
[submodule "vim-dispatch"]
	path = vim-dispatch
	url = bundle/vim-dispatch
[submodule "vim-dotoo"]
	path = vim-dotoo
	url = bundle/vim-dotoo
[submodule "vim-fugitive"]
	path = vim-fugitive
	url = bundle/vim-fugitive
[submodule "vim-markdown"]
	path = vim-markdown
	url = bundle/vim-markdown
[submodule "vim-python-pep8-indent"]
	path = vim-python-pep8-indent
	url = bundle/vim-python-pep8-indent
[submodule "vim-repeat"]
	path = vim-repeat
	url = bundle/vim-repeat
[submodule "vim-test"]
	path = vim-test
	url = bundle/vim-test
[submodule "vim-unimpaired"]
	path = vim-unimpaired
	url = bundle/vim-unimpaired
[submodule "vim-yaml"]
	path = vim-yaml
	url = bundle/vim-yaml
[submodule "jedi-vim"]
	path = jedi-vim
	url = bundle/jedi-vim/
[submodule "bundle/github-issues.vim"]
	path = bundle/github-issues.vim
	url = git@github.com:jaxbot/github-issues.vim.git
[submodule "bundle/jedi-vim"]
	path = bundle/jedi-vim
	url = https://github.com/davidhalter/jedi-vim.git
[submodule "bundle/pydoc.vim"]
	path = bundle/pydoc.vim
	url = https://github.com/fs111/pydoc.vim
